<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h3>Order Search</h3>

    <form action="/order/total" method="get">
      <input type="number" name="order_id" />
      <button type="submit">Search</button>
    </form>

    <br />

    <hr />

    <h4>Order Details</h4>

    <table>
      <tbody>
        <tr>
            <td>Order ID :</td>
            <td data-th-text="${order.orderId}"></td>
        </tr>
        <tr>
            <td>Order Date :</td>
            <td data-th-text="${order.orderDate}"></td>
        </tr>
        <tr>
            <td>Customer Id :</td>
            <td data-th-text="${order.customerId}"></td>
        </tr>
        <tr>
            <td>Total Cost :</td>
            <td data-th-text="${order.totalCost}"></td>
        </tr>
        <tr>
            <td>Total Price :</td>
            <td data-th-text="${order.totalPrice}"></td>
        </tr>



      </tbody>
    </table>
  </body>
</html>
